


.brand-text {
    width: 77px;
    height: 21px;
    color: #8CB7F5;
    font-weight: 700;
    font-size: 25px;
    margin-left: 5px;
}
.shopping-order {
    font-size: 12px;
    font-weight: 400;
    color: #8B96A5;
    margin-top: 5px;
}